@import url("https://kit.fontawesome.com/b252231cec.js");

@import url("components/avatar.css");
@import url("components/banner.css");
@import url("components/button-brown.css");
@import url("components/container.css");
@import url("components/square-brown.css");
@import url("components/card.css");

body {
	background-color: rgb(250,250,250) ;
	color : grey ;
	font-family: 'Libre Baskerville', serif;
	color: rgb(250,250,250);
	font-weight: lighter;
	font-size: smaller;
}

h1 {
	color : #896978 ;
    font-family: 'Libre Baskerville', serif;
    font-size: 36px;
    text-align: left;
    text-transform: uppercase;
    font-weight: bolder;
} 

h2 {
	color : #896978 ;
    font-size: large;
    text-transform: uppercase;
    font-weight: bolder;
    text-align: center;
}

h3 {
	text-transform: uppercase;
}

a{
	text-decoration: none ;
	color: #896978;
}

#center-grey {
	text-align : center;
	color: rgb(50,50,50) ;
	font-style:italic;
}


